* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #555;
    color:white;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}

li {
    max-width: calc(100% / 3);
    border: 1px solid black;
}

h2,
h3,
h4 {
    margin-bottom: 0.3rem;
}

img {
    max-height: 165px;
}

.container {
    max-width: 1200px;
    margin: 10px auto;
}